*.DS_Store
/.env
/.htpasswd
/site.cfg
/web/llama3-weboftomorrow-com.conf
/stats/awstats.llama3.weboftomorrow.com.conf
/stats/awstats.llama3-weboftomorrow-com.crontab
/chill/llama3-weboftomorrow-com-chill.service
/db
/dist/
/frozen/
/logs/
/node_modules/
/npm-debug.log
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map

/web/dhparam.pem
/web/rootCA.key
/web/rootCA.pem
/web/rootCA.srl
/web/server.crt
/web/server.csr
/web/server.key

/bin/
/include/
/lib/
/local/
/share/

*.pyc
*.egg-info/
