[ req ]
default_bits = 2048
prompt=no
default_md = sha256
distinguished_name = dn

[ dn ]
subjectAltName=local.{{ cookiecutter.site_domain }}
commonName=local.{{ cookiecutter.site_domain }}
emailAddress={{ cookiecutter.email }}
name={{ cookiecutter.full_name }}
