# m h	dom mon dow user	command
0 3	13 * * root certbot renew --webroot --webroot-path /srv/llama3-weboftomorrow-com/root --preferred-challenges webroot --non-interactive --domain llama3.weboftomorrow.com >/proc/1/fd/1 2>/proc/1/fd/2
# An empty line is required at the end of this file for a valid cron file.
