{% extends 'site.html.jinja2' %}

{% block body %}
    <p>{{ homepage_content }}</p>

    <div>
    llama-3-3
<img
srcset="
  {{ url_for('send_media_file', filename='llama.1800x1800.jpg') }} 1800w,
  {{ url_for('send_media_file', filename='llama.900x900.jpg') }} 900w,
  {{ url_for('send_media_file', filename='llama.420x420.jpg') }} 420w,
  "
sizes="
  (max-width: 900px) 420px,
  (max-width: 1800px) 900px,
  1800px,
  "
  src="{{ url_for('send_media_file', filename='llama.420x420.jpg') }}"
    alt="llama head in grayscale cropped to square">
</div>

    <div>
    llama-1-2
<img
srcset="
  {{ url_for('send_media_file', filename='llama.600x1200.jpg') }} 600w,
  {{ url_for('send_media_file', filename='llama.300x600.jpg') }} 300w,
  {{ url_for('send_media_file', filename='llama.140x280.jpg') }} 140w,
  "
sizes="
  (max-width: 300px) 140px,
  (max-width: 600px) 600px,
  600px,
  "
  src="{{ url_for('send_media_file', filename='llama.140x280.jpg') }}"
    alt="llama head in grayscale cropped vertical">
</div>

    <div>
    llama-2-1
<img
srcset="
  {{ url_for('send_media_file', filename='llama.1200x600.jpg') }} 1200w,
  {{ url_for('send_media_file', filename='llama.600x300.jpg') }} 600w,
  {{ url_for('send_media_file', filename='llama.280x140.jpg') }} 280w,
  "
sizes="
  (max-width: 600px) 280px,
  (max-width: 1200px) 1200px,
  1200px,
  "
  src="{{ url_for('send_media_file', filename='llama.280x140.jpg') }}"
    alt="llama head in grayscale cropped horizontal">
</div>


<div>
<img
  src="{{ url_for('send_media_file', filename='llama-crop.jpg') }}"
  width="229"
  height="150"
    alt="llama head cropped">
</div>
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@hayleymaxwell?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Hayley Maxwell"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Hayley Maxwell</span></a>
{% endblock %}
