/* Colourlovers Palette
    outside-the-sphere
    http://www.colourlovers.com/palette/2815056/outside-the-sphere
    by: jake.hickenlooper
*/
:root {
    /* Realize */
    --color-realize: #87a5ff;
    /* Decaf Disaster */
    --color-decafdisaster: #56461e;
    /* tangerine */
    --color-tangerine: #e67a00;
    /* recover */
    --color-recover: #9fa3b3;
    /* Hitchhiked */
    --color-hitchhiked: #140045;
}

