@import "../../.design-tokens-css/default-theme/settings.custom-properties-selector.css";
@import "../../.design-tokens-css/dark-theme/settings.custom-properties-selector.css"
  (prefers-color-scheme: dark);

/* widths (update custom-media.css, too) */
:root {
  --sm-viewport: 480px;
  --md-viewport: 700px;
  --lg-viewport: 1024px;
  --xl-viewport: 1920px;
}

/* spacing */
:root {
  --spacing-sm: 0.6em;
  --spacing-md: 1em;
  --spacing-lg: 3em;
}
