# See http://help.github.com/ignore-files/ for more about ignoring files.

*.DS_Store
/.env
/.htpasswd
/.has-certs
/.vagrant/
/.design-tokens-css
/site.cfg
/frozen.tar.gz
/{{ cookiecutter.project_slug }}-*.tar.gz
/web/{{ cookiecutter.project_slug }}.conf
/web/{{ cookiecutter.project_slug }}--down.conf
/stats/awstats.{{ cookiecutter.site_domain }}.conf
/stats/awstats-{{ cookiecutter.project_slug }}-crontab
/chill/{{ cookiecutter.project_slug }}-chill.service
/api/{{ cookiecutter.project_slug }}-api.service
/db
/db.dump.sql
/dist/
/frozen/
/logs/
/node_modules/
/npm-debug.log
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map
/{{ cookiecutter.project_slug }}/*
!/{{ cookiecutter.project_slug }}/MANIFEST

/media/llama-crop.jpg
/media/llama.*x*.jpg
/media/llama-*-*.jpg

/web/dhparam.pem
/web/local-{{ cookiecutter.project_slug }}-CA.key
/web/local-{{ cookiecutter.project_slug }}-CA.pem
/web/local-{{ cookiecutter.project_slug }}-CA.srl
/web/local-{{ cookiecutter.project_slug }}.crt
/web/local-{{ cookiecutter.project_slug }}.csr
/web/local-{{ cookiecutter.project_slug }}.key

/include/
/lib/
/local/
/share/

*.pyc
*.egg-info/
